nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.profile-img{
    width: 584px;
    height: 500px;
    margin-top: -100px;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

span{
    color: #FD6E0A
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 50px;
    font-size: 20px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
}

.btn-primary{
    background-color: #FD6E0A;
    color: #fff;
    padding: 18px 35px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    border: none;
}

.btn-secondary{
    background-color: #fff;
    color: #FD6E0A;
    padding: 18px 35px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #FD6E0A;
    margin-left: 20px;
}

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

.banner-title{
    color: #474747;
}

.banner-text{
    max-width: 580px;
}

.header{
    background-image: url('./images/developer.png'), url('./images/header_bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left, bottom right;
}

.section-title{
    font-size: 30px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

.section-description{
    font-size: 18px;
    color: #474747;
    margin-bottom: 40px;  
}


.secondary-bg{
    padding: 50px 0;
}

.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
    background-color: #FFF8F3;
}

body{
    background-color: #FFFFFF;
}

main{
    max-width: 1140px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.about-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}

.about-item{
    color: #474747;
}


.main-bg{
    
}

.skills{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
    background-color: #FFFFFF;
}

.skills-content{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    gap: 20px;
    padding: 30px;

}

.skills-item{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    text-align: left;
    /* height: 377px; */
    width: 267px;
}

main section{
    margin-top: 130px;
}



.section-title{
    text-align: center;
}

.resume-content{
    display: flex;
    /* justify-content: center; */
    gap: 20px;
}

.resume{
    margin-top: 0;
    text-color: #474747;
}

.resume_download{
    margin-bottom: 50px;
}